.trade-detail-card{
    width: 100%;

    display: flex;
    flex-direction: row;

    gap: 50px;

    padding: 30px;

    background: #fff;

    border: none !important;
    border-radius: 15px;

    box-shadow: 0 4px 14px rgba(0,0,0,.08);
}

.trade-detail-image{
    width: 360px;
    height: 360px;

    object-fit: contain;

    background: #f7f8fa;
    border-radius: 15px;
}

.trade-detail-body{
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.trade-detail-title{
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px;
}

.trade-detail-price{
    font-size: 32px;
    color: rgb(32, 150, 228);
    font-weight: bold;
    margin-bottom: 25px;
}


/* 버튼 */
.trade-detail-buttons{
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 30px;
}


.trade-detail-category{
    font-size: 18px;
    color: #777;
    margin-bottom: 25px;
}

.trade-detail-item{
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 10px;

}

.trade-detail-tag{
    font-size: 18px;
    margin-bottom: 15px;
    

}

.trade-detail-description{
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 30px;
}




/* 같은 부분 */
.trade-layout {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 30px 0;
}


.trade-sidebar {
    width: 220px;

    top: 80px;

    margin-left: 30px;
    padding: 25px 20px;

    background: #fff;

    border: none;
    border-radius: 15px;

    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);

    text-align: center;
}

.trade-sidebar p {
    margin-bottom: 14px;
    cursor: pointer;
    transition: color 0.2s;
}

.trade-sidebar p:first-child {
    margin-bottom: 24px;
    font-size: 23px;
    font-weight: bold;
}

.trade-sidebar p:last-child {
    margin-bottom: 0;
}

.trade-sidebar p:hover {
    color: royalblue;
}


.trade-section {
    padding: 20px 0;    /* 수정 */   
    margin-bottom: 30px;

    display:flex;
    flex-direction: column;
    align-items: flex-start;

    text-align: left;
}

.trade-fontstyle{
    width: 100%;
    margin:0 0 24px 0;
    padding-left: 0;
    text-align: left;

    font-weight: bold;
    font-size: 29px;    
}


.card-grid {
    width: 100%;
    max-width: 1200px;  /* 큰 모니터용 */
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}