.TradeCategory-layout {
display: flex;
justify-content: space-between; 
align-items: flex-start;
}

.TradeCategory-sidebar {
    width: 23%;
    border: 1px solid black;
    border-radius: 10px;
    position: sticky;
    top: 80px;
    text-align: center;
    padding: 15px;
}

.TradeCategory-card-list {
    display: flex;
    flex-wrap: wrap;
}

.TradeCategory-card {
    width: 33.333%;
    
}

