.form-group-align-left {
    text-align: left;
}

.placeholder-lightgray::placeholder {
    color: lightgrey !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
