* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 추가 */
.search-btn {
    background-color: royalblue !important;
    border: 1px solid royalblue !important;
    color: white !important;
    font-weight: bold;
    white-space: nowrap;
}

.search-btn:hover {
    background-color: paleturquoise !important;
    border-color: paleturquoise !important;
    color: white !important;
    font-weight: bold;
}

@font-face {
    font-family: 'SchoolFont';
    /* 사용할 이름 */
    src: url('/fonts/학교안심 산뜻돋움_Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SchoolFont', sans-serif;
}